<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-center text-base leading-6 font-semibold uppercase text-gray-600 tracking-wider">
      Más de 7 años ayudando a las empresas a recibir feedback de calidad
    </p>
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <%= image_tag "frontend/companies/blue-sky.svg", alt: "Blue Sky Tax", class: "max-h-12 text-gray-800" %>
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <%= image_tag "frontend/companies/ibm.jpg", alt: "IBM", class: "max-h-12" %>
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <%= image_tag "frontend/companies/nike.png", alt: "Nike", class: "max-h-12" %>
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <%= image_tag "frontend/companies/zeo.png", alt: "Zeo", class: "max-h-12" %>
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <%= image_tag "frontend/companies/xing.png", alt: "Xing", class: "max-h-12" %>
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <%= image_tag "frontend/companies/growth_street.png", alt: "Growth Street", class: "max-h-12" %>
      </div>
    </div>
  </div>
</div>
