<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Free talent retention and feedback tool - Happy Mood Score</title>
    <%= yield :custom_header %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedback and employee engagement tool for agile companies, startups or companies with remote employees, distributed teams or digital nomads.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <script src=//cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js></script>
    <meta name="author" content="Jorge Alvarez - @jorgealvarez">
  </head>
  <body class="font-sans antialiased text-gray-900">
    <div data-controller="sidebar" data-sidebar-show-class="block" data-sidebar-hide-class="hidden" class="h-screen flex overflow-hidden ">
      <%= render 'layouts/menu/sidebar' %>
      <%= render 'layouts/menu/index' %>
      <%= render 'layouts/menu/user/items' %>
      <%= render 'layouts/menu/main_content' %>
    </div>
  </body>
</html>
